In [1]:
import sys
sys.path.insert(2,'../etl/')
import os
import pandas as pd

In [2]:
from data_helper import get_csv_dataframes_from_folder
from data_helper import build_main_df_from_layer
from data_helper import drop_null_values_multiple_columns
from data_helper import drop_duplicates_multicols

#### merge csvs on website level

In [3]:
dfs_dict = get_csv_dataframes_from_folder('../data/bronze/americanselectlacrosse/')
df_list = []
for _, df in dfs_dict.items():
    df_list.append(df)
len(df_list)
df_americanselect = pd.concat(df_list)
print(df_americanselect.shape)
df_americanselect.head()

(983, 14)

,college,state,club,high_school,profile_link,commitment_year,name,gender,height,club_year,position,weight,club_rank,web_source
0,Bucknell University,Pacific Northwest,Oregon Pride,Jesuit HS,https//iwlca.sportsrecruits.com/athlete/annabe...,2025.0,Gigi Abernethy,boy,NaN,NaN,NaN,NaN,NaN,americanselectlacrosse
1,University of Virginia,Connecticut,CT Grizzlies,Darien High School,https//iwlca.sportsrecruits.com/athlete/annabe...,2025.0,Annabell Adams,boy,NaN,NaN,NaN,NaN,NaN,americanselectlacrosse
2,Colgate University,Connecticut,CT Grizzlies,Darien High School,https//iwlca.sportsrecruits.com/athlete/annabe...,2025.0,Isabel Alini,boy,NaN,NaN,NaN,NaN,NaN,americanselectlacrosse
3,Gettysburg College,NY Upstate,Monsters,Pittsford Mendon HS,https//iwlca.sportsrecruits.com/athlete/annabe...,2025.0,Anna Anderson,boy,NaN,NaN,NaN,NaN,NaN,americanselectlacrosse
4,Long Island University,Long Island,YELLOW JACKETS,Comsewogue High School,https//iwlca.sportsrecruits.com/athlete/keira_...,2025.0,Keira Andresen,boy,NaN,NaN,NaN,NaN,NaN,americanselectlacrosse

In [4]:
dfs_dict = get_csv_dataframes_from_folder('../data/bronze/clublacrosse/')
df_list = []
for _, df in dfs_dict.items():
    df_list.append(df)
len(df_list)
df_clublacrosse = pd.concat(df_list)
print(df_clublacrosse.shape)
df_clublacrosse.head()

(4530, 13)

,name,commitment_year,college,club,high_school,position,gender,height,club_year,state,weight,club_rank,web_source
0,AJ Amandolare,2025,Quinnipiac,3D NE,The New Hampton School,Attack,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse
1,AJ Ellis,2024,Illinois Wesleyan,TRUE IL,Suffield Academy,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse
2,AJ Jeffares,2025,St Johns (NY),LI Legacy,Connetquot,Attack,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse
3,AJ Sachwitz,2024,MIT,NaN,St Johns College,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse
4,AJ Smith,2024,Wentworth,No Club Found,Methuen,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse

In [5]:
dfs_dict = get_csv_dataframes_from_folder('../data/bronze/laxnumbers/')
df_list = []
for _, df in dfs_dict.items():
    df_list.append(df)
len(df_list)
df_laxnumbers = pd.concat(df_list)
print(df_laxnumbers.shape)
df_laxnumbers.head()

(36719, 14)

,name,commitment_year,state,high_school,club,position,division,college,gender,club_rank,height,club_year,weight,web_source
0,Isabella Sabatino,2022,MD,Towson,SkyWalkers,M,D3,Pomona Pitzer,girl,NaN,NaN,NaN,NaN,laxnumbers
1,Natalie Clere,2022,NY,Onondaga,NaN,M,D2,Lindenwood,girl,NaN,NaN,NaN,NaN,laxnumbers
2,Claire Ashburn,2022,MD,Harford,NaN,A,D1,Winthrop,girl,NaN,NaN,NaN,NaN,laxnumbers
3,Gabby Trzeciak,2022,MD,Harford,Looneys,A,D2,Lock Haven,girl,NaN,NaN,NaN,NaN,laxnumbers
4,Trysten Burns,2022,NY,Onondaga,Haudenosaunee,A,D2,Newberry,girl,NaN,NaN,NaN,NaN,laxnumbers

In [6]:
dfs_dict = get_csv_dataframes_from_folder('../data/bronze/toplaxrecruits/')
df_list = []
for _, df in dfs_dict.items():
    df_list.append(df)
len(df_list)
df_toplaxrecruits = pd.concat(df_list)
print(df_toplaxrecruits.shape)
df_toplaxrecruits.head()

(7526, 14)

,commitment_year,position,high_school,college,division,name,gender,club,height,club_year,state,weight,club_rank,web_source
0,2023.0,Attack,Elk River Senior High School,American,NCAA DI,Adria Kotzian,girl,NaN,NaN,NaN,NaN,NaN,NaN,toplaxrecruits
1,2023.0,Attack,Episcopal School of Dallas,American,NCAA DI,Camryn Kowalewski,girl,NaN,NaN,NaN,NaN,NaN,NaN,toplaxrecruits
2,2023.0,Attack,Wilbert Tucker Woodson High School,American,NCAA DI,Mia Zganjar,girl,NaN,NaN,NaN,NaN,NaN,NaN,toplaxrecruits
3,2023.0,Attack,Dexter School,Arizona State,NCAA DI,Izzy DiModica,girl,NaN,NaN,NaN,NaN,NaN,NaN,toplaxrecruits
4,2023.0,Attack,Milton High School,Arizona State,NCAA DI,Emma Heenan,girl,NaN,NaN,NaN,NaN,NaN,NaN,toplaxrecruits

#### build main dataframe from bronze layer

In [7]:
bronze_folder_path = '../data/bronze/'
bronze_main_df=build_main_df_from_layer(bronze_folder_path)
bronze_main_df.head()

,name,commitment_year,college,club,high_school,position,gender,height,club_year,state,weight,club_rank,web_source,profile_link,division
0,AJ Amandolare,2025.0,Quinnipiac,3D NE,The New Hampton School,Attack,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse,NaN,NaN
1,AJ Ellis,2024.0,Illinois Wesleyan,TRUE IL,Suffield Academy,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse,NaN,NaN
2,AJ Jeffares,2025.0,St Johns (NY),LI Legacy,Connetquot,Attack,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse,NaN,NaN
3,AJ Sachwitz,2024.0,MIT,NaN,St Johns College,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse,NaN,NaN
4,AJ Smith,2024.0,Wentworth,No Club Found,Methuen,Goalie,boy,NaN,NaN,NaN,NaN,NaN,clublacrosse,NaN,NaN

In [8]:
bronze_main_df.shape

(49758, 15)

#### drop null and duplicates for given set of columns

In [9]:
# Drop duplicates based on key columns
key_columns = ['name','state','club','commitment_year','gender']

In [10]:
df_= drop_null_values_multiple_columns(bronze_main_df,key_columns)
df_ = df_.drop_duplicates(subset=key_columns).reset_index(drop=True)